@page "/dice"

<h1>Roll the Dice!</h1>


<button class="btn btn-primary" onclick="@ResetDice">Reset Dice</button>
<button class="btn btn-primary" onclick="@RollDice">Roll Dice</button>
<br />
<br />
<div>
    <img id="dice0" src="@diceImage[0]" />
    <img id="dice1" src="@diceImage[1]" />
    <img id="dice2" src="@diceImage[2]" />
    <img id="dice3" src="@diceImage[3]" />
    <img id="dice4" src="@diceImage[4]" />
    <img id="dice5" src="@diceImage[5]" />
</div>

@functions {
    int[] diceArray = new int[] { 1, 2, 3, 4, 5, 6 };
    string[] diceImage = new string[6];
    string dicePrefix = "/images/dice";
    string diceSuffix = ".png";

    protected override void OnInit()
    {
        ResetDice();
    }


    void ResetDice()
    {
        for (int diceIndex = 0; diceIndex < diceArray.Length; diceIndex++)
        {
            diceImage[diceIndex] = GetDicePath(diceIndex + 1);
        }
    }

    void RollDice()
    {
        Random rnd = new Random();
        int[] randomDice = diceArray.OrderBy(x => rnd.Next()).ToArray();

        for (int diceIndex = 0; diceIndex < diceArray.Length; diceIndex++)
        {
            diceImage[diceIndex] = GetDicePath(randomDice[diceIndex]);
        }
    }

    string GetDicePath(int diceValue)
    {
        return $"{dicePrefix}{diceValue}{diceSuffix}";
    }
}
